**1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.**

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?**

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()
if test1 == test2:
    print("test1 and test2 are the same.")
else:
    print("test1 and test2 are different.")

test1 and test2 are the same.

**3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992**

In [3]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).**

In [4]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the 'books' table
cursor.execute('''CREATE TABLE IF NOT EXISTS books (
                    title TEXT,
                    author TEXT,
                    year INTEGER
                )''')

# Commit the changes and close the connection
conn.commit()
conn.close()

**5. Read books.csv and insert its data into the book table.**

In [5]:
import csv
import sqlite3

# Open the CSV file
with open('books.csv', 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)  # Skip the header row

    # Create a connection to the database
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()

    # Insert data into the 'books' table
    for row in csv_data:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

**6. Select and print the title column from the book table in alphabetical order.**

In [6]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print the titles in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title")
rows = cursor.fetchall()

for row in rows:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

**7. From the book table, select and print all columns in the order of publication.**

In [7]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print all columns in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.**

In [8]:
from sqlalchemy import create_engine

# Connect to the database
engine = create_engine('sqlite:///books.db')

# Test the connection
try:
    connection = engine.connect()
    print("Connection successful!")
    connection.close()
except Exception as e:
    print(f"Connection failed: {e}")

Connection successful!