#1. Write a Python program to find sum of elements in list?

In [1]:
def sum_of_elements(lst):
    total = 0
    for num in lst:
        total += num
    return total

# Example usage:
numbers = [1, 2, 3, 4, 5]
result = sum_of_elements(numbers)
print("Sum of elements:", result)

Sum of elements: 15

#2. Write a Python program to Multiply all numbers in the list?

In [2]:
def multiply_list_elements(lst):
    result = 1
    for num in lst:
        result *= num
    return result

# Example usage:
numbers = [1, 2, 3, 4, 5]
result = multiply_list_elements(numbers)
print("Product of elements:", result)

Product of elements: 120

#3. Write a Python program to find smallest number in a list?

In [3]:
def find_smallest_number(lst):
    if not lst:
        print("The list is empty.")
        return None
    else:
        smallest = lst[0]
        for num in lst:
            if num < smallest:
                smallest = num
        return smallest

# Example usage:
numbers = [5, 2, 8, 1, 10]
result = find_smallest_number(numbers)
print("Smallest number:", result)

Smallest number: 1

#4. Write a Python program to find largest number in a list?

In [4]:
def find_largest_number(lst):
    if not lst:
        print("The list is empty.")
        return None
    else:
        largest = lst[0]
        for num in lst:
            if num > largest:
                largest = num
        return largest

# Example usage:
numbers = [5, 2, 8, 1, 10]
result = find_largest_number(numbers)
print("Largest number:", result)

Largest number: 10

#5. Write a Python program to find second largest number in a list?

In [5]:
def find_second_largest_number(lst):
    if len(lst) < 2:
        print("The list does not have enough elements.")
        return None

    largest = max(lst[0], lst[1])
    second_largest = min(lst[0], lst[1])

    for num in lst[2:]:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest:
            second_largest = num

    return second_largest

# Example usage:
numbers = [5, 2, 8, 1, 10]
result = find_second_largest_number(numbers)
print("Second largest number:", result)

Second largest number: 8

#6. Write a Python program to find N largest elements from a list?

In [6]:
def find_n_largest_elements(lst, n):
    if len(lst) < n:
        print("The list does not have enough elements.")
        return None

    sorted_list = sorted(lst, reverse=True)
    n_largest_elements = sorted_list[:n]

    return n_largest_elements

# Example usage:
numbers = [5, 2, 8, 1, 10, 7, 3, 6]
n = 3
result = find_n_largest_elements(numbers, n)
print(f"{n} largest elements:", result)

3 largest elements: [10, 8, 7]

#7. Write a Python program to print even numbers in a list?

In [7]:
def print_even_numbers(lst):
    even_numbers = []
    for num in lst:
        if num % 2 == 0:
            even_numbers.append(num)
    print("Even numbers:", even_numbers)

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_even_numbers(numbers)

Even numbers: [2, 4, 6, 8, 10]

#8. Write a Python program to print odd numbers in a List?

In [8]:
def print_odd_numbers(lst):
    odd_numbers = []
    for num in lst:
        if num % 2 != 0:
            odd_numbers.append(num)
    print("Odd numbers:", odd_numbers)

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_odd_numbers(numbers)

Odd numbers: [1, 3, 5, 7, 9]

#9. Write a Python program to Remove empty List from List?

In [9]:
def remove_empty_lists(lst):
    return [sublist for sublist in lst if sublist]

# Example usage:
my_list = [1, 2, [], 3, [], 4, 5, [], [6, 7], []]
result = remove_empty_lists(my_list)
print("List after removing empty lists:", result)

List after removing empty lists: [1, 2, 3, 4, 5, [6, 7]]

#10. Write a Python program to Cloning or Copying a list?

In [10]:
def clone_list(lst):
    cloned_list = lst.copy()  # or list(lst) or lst[:]
    return cloned_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
cloned_list = clone_list(original_list)
print("Original list:", original_list)
print("Cloned list:", cloned_list)

Original list: [1, 2, 3, 4, 5]
Cloned list: [1, 2, 3, 4, 5]

#11. Write a Python program to Count occurrences of an element in a list?

In [11]:
def count_occurrences(lst, element):
    count = 0
    for item in lst:
        if item == element:
            count += 1
    return count

# Example usage:
my_list = [1, 2, 3, 4, 2, 2, 5, 2, 6]
element = 2
occurrences = count_occurrences(my_list, element)
print(f"Number of occurrences of {element}: {occurrences}")

Number of occurrences of 2: 4