**1. Write a Python program to convert kilometers to miles?**

In [7]:
def convert_km_to_miles(kilometer):
  miles=kilometer * 0.621371
  return miles

In [8]:
kilometer=15
miles= convert_km_to_miles(kilometer)
print(kilometer, "kilometer is eqal to",miles,"miles")

15 kilometer is eqal to 9.320565 miles

**2. Write a Python program to convert Celsius to Fahrenheit?**

In [9]:
def convert_celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit


celsius = 30

fahrenheit = convert_celsius_to_fahrenheit(celsius)
print(celsius, "degrees Celsius is equal to", fahrenheit, "degrees Fahrenheit.")

30 degrees Celsius is equal to 86.0 degrees Fahrenheit.

**3. Write a Python program to display calendar?**

In [10]:
import calendar

# Input the year and month
year = 2023
month = 6

# Generate the calendar
cal = calendar.monthcalendar(year, month)

# Print the calendar
print(calendar.month_name[month], year)
print(calendar.weekheader(3))
for week in cal:
    print(week)

June 2023
Mon Tue Wed Thu Fri Sat Sun
[0, 0, 0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10, 11]
[12, 13, 14, 15, 16, 17, 18]
[19, 20, 21, 22, 23, 24, 25]
[26, 27, 28, 29, 30, 0, 0]

**4. Write a Python program to solve quadratic equation?**

In [11]:
import cmath

def solve_quadratic(a, b, c):
    # Calculate the discriminant
    discriminant = (b ** 2) - (4 * a * c)

    # Calculate the two solutions
    root1 = (-b + cmath.sqrt(discriminant)) / (2 * a)
    root2 = (-b - cmath.sqrt(discriminant)) / (2 * a)

    return root1, root2

# Example usage
a = 1
b = -5
c = 6

roots = solve_quadratic(a, b, c)
print("The solutions are:", roots)

The solutions are: ((3+0j), (2+0j))

**5. Write a Python program to swap two variables without temp variable?**

In [12]:
def swap_variables(a, b):
    a, b = b, a
    return a, b

# Example usage
var1 = 10
var2 = 5

print("Before swapping: var1 =", var1, "and var2 =", var2)

var1, var2 = swap_variables(var1, var2)

print("After swapping: var1 =", var1, "and var2 =", var2)

Before swapping: var1 = 10 and var2 = 5
After swapping: var1 = 5 and var2 = 10